<!-- Background -->
<div class="bg">
</div>

<div class="container text-center">

  <!-- Title -->
  <div class="title">
    <img src="/assets/images/logos/logo.svg" height="60px">
    <h1>Zusammen allein Zuhause</h1>
    <h2>Virtuelles Get-Together - 8 Personen & 1 Thema</h2>
  </div>

  <!-- Call to action -->
  <div class="ctc">
    <div class="btn" (click)="modal.show()">
      Session Hosten
    </div>
  </div>

  <!-- Arrow -->
  <div class="ctc2">
    <div class="btn-icn" (click)="scrollToCalendar()">
      <i class="material-icons">arrow_downward</i>
    </div>
  </div>

  <div class="cal">
    <app-calendar></app-calendar>
  </div>

  <div class="description">
    <p>
      Wir rücken zusammen. Auf unserem virtuellen Sofa machen wir Platz für alle, die auch in Zeiten von Corona nicht auf Austausch und Anregung verzichten sollten - also für alle! Dieses Gefühl, wenn man Begegnungen hat, Gespräche führt und Menschen kennenlernt, die einen herausfordern, inspirieren und weiter bringen - dieses Gefühl lässt sich nicht ersetzen. Aber es lässt sich übersetzen. Vom Wohnzimmer, der Bar, dem Café, von der Face-to-Face Begegnung in den virtuellen Raum.
    </p>
    <p>
      Hier könnt ihr euer Wissen in Kurz-Präsentationen und Fragerunden teilen und zusammen in Gruppen mit maximal 8 Gästen tiefer einsteigen. Und wenn die Gespräche nicht enden sollen, dann bleibt doch einfach in Kontakt!
    </p>
  </div>
</div>


<!-- New session modal -->
<app-modal #modal>
  <div>
    <h2>Neue Session</h2>
    <form [formGroup]="sessionForm">
    <!--  Topic -->
    <div class="label">Gib deiner Session einen Namen</div>
    <input type="text" formControlName="name"/>

      <!-- Description -->
      <div class="label">Was genau stellst du dir vor?</div>
      <textarea formControlName="description" resize="false" rows="6"></textarea>

      <!-- Date & Time -->
      <div class="label">Datum und Uhrzeit</div>
      <div class="flex">
        <input type="date" formControlName="date" class="flex-2 m-r"/>
        <input type="time" formControlName="startTime" class="flex-1 m-r"/>
        <input type="time" formControlName="endTime" class="flex-1"/>
      </div>

      <!-- Terms & conditions -->
      <!-- Language -->
      <div class="m">
        <div class="btn w-100" (click)="addNewSession()">Veröffentlichen</div>
      </div>
    </form>
  </div>
</app-modal>