
.modal {
    border-radius: 25px;
    background: white;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 3px 8px rgba(51, 58, 63, 0.5), 0 0px 15px rgba(51, 58, 63, 0.5);
    width: 600px;
    min-height: 200px;
    padding: 20px;
    box-sizing: border-box;

    .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
}
