:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            flex: 1;
        }
        .menu-item {
            width: 120px;
        }
    }
}