

.cal {
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(51, 58, 63, 0.5), 0 0px 8px rgba(51, 58, 63, 0.5);
    background: white;
    height: 600px;
    width: calc(100% - 100px);
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .day {
        flex: 1;
        text-align: center;
        position: relative;

        .day-title {
            color: #333A3D;
            margin-bottom: 15px;
        }

        .session {
            border-radius: 10px;
            background: #9FBFB5;
            position: absolute;
            width: calc(100% - 1px);
            top: 0;
            text-align: left;
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;
            transition: 50ms ease-in;
            font-size: 13px;
            line-height: 1.5em;
            text-overflow: ellipsis;
            overflow: hidden;

            &:hover {
                box-shadow: 0 2px 3px rgba(51, 58, 63, 0.5), 0 1px 5px rgba(51, 58, 63, 0.5);
            }
        }
    }

    .nav-btn {

    }
}