
<!-- Calendar wrapper -->
<div class="cal">
    <!-- Navigation -->
    <div class="nav-btn back"></div>
    <div class="nav-btn forward"></div>

    <!-- Days -->
    <div class="day" *ngFor="let day of days">
        <div class="day-title">
            {{ day | date:'EEEE' }}
        </div>
        <!-- Sessions -->
        <div class="session" *ngFor="let session of sessions | sessionsOnDay:day"
             [style.top.px]="getTopPosition(session)"
             [style.height.px]="getHeight(session)"
             (click)="openSessionDetails(session)">
            {{ session.name }}
        </div>

    </div>
</div>

<!-- Details modal -->
<app-modal #modal>
    <h2>{{ selectedSession?.name }}</h2>
    <p>
        {{ selectedSession?.description }}
    </p>
    <div class="m">
        <div class="btn w-100" (click)="modal.hide()">Teilnehmen</div>
    </div>
</app-modal>